{% extends "base.html" %}

{%block title %}
Create A New List
{% endblock title %}

{% block content %}

<h1>Create a new to-do list</h1>
<form method="post">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" id="id">
    <button type="button" class="btn btn-light btn-outline-secondary">Create</button>
</form>

{% endblock content %}
