{% extends "base.html" %}

{%block title %}
Create A New List
{% endblock title %}

{% block content %}

<div>
    <p>
        {{todo_list.name}}
    <p>
        <a href="{% url 'todo_list_create' %}">{{todo_list.name}}</a>
    </p>
    </p>
</div>

<h1>Are you sure?</h1>
<form method="post">
    {% csrf_token %}
    <button>Delete</button>
</form>

{% endblock content %}
