{% extends "base.html" %}

{%block title %}
Update a List
{% endblock title %}

{% block content %}
<h1>Update List</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="todoListName">Name</label>
        <input type="text" class="form-control" id="todoListName" placeholder="Enter name" value="{{form.name.value}}"
            name="name">
        <small class="form-text text-muted">A short name for your todo list</small>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock content %}
