{% extends "base.html" %}

{%block title %}
To Do Lists
{% endblock title %}

{%block content %}

<h1> My Lists </h1>
<!-- <div>
    <p>
        <a href="{% url 'todo_list_create' %}">Create a new list</a>
    </p>
</div>
<div>
    <p>
        <a href="{% url 'todo_item_create' %}">Create a new item</a>
    </p>
</div> -->


<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Number of items</th>
        </tr>
    </thead>
    <tbody>
        {% for tl in list_todolist_all %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>
                <a href="{% url 'todo_list_detail' tl.id %}">
                    {{tl.name}}
                </a>
            </td>
            <td>{{tl.items.count}}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endblock %}

    <!--
    <thead>
        <tr>
            <th>Name</th>
            <th> Number of Lists</th>
        </tr>
    </thead>

    <tbody>
        {% for tl in list_todolist_all %}
        <tr>
            <td>
                <a href="{% url 'todo_list_detail' tl.id %}">
                    {{tl.name}}
                </a>
            </td>
            <td>{{tl.items.count}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->
