<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of a Particular To Do List</title>
</head>
<body>
    <main>
        <div>
            <h1> {{todo_list_details.name}} </h1>
            <h2> Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- (todo_list_details bir object ve tipi TodoList) -->
                    {% for item in todo_list_details.items.all %}
                    <tr>
                        <!-- item bir object ve tipi TodoItem -->
                        <td> {{item.task}}</td>
                        <td> {{item.due_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
