<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lists</title>
</head>

<body>
    <header>
        <nav>
            <a href="">Todo List's Detail</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for tl in todo_lists %}
                        <td> <a href="{% url 'todo_list_detail' tl.id %}"> {{tl.name}} </a></td>
                        <td>{{tl.items.count}} </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>

<!--
todo_lists = ["reminders", "school_supplies", "cleaning" ] # degil
objelerin hepsinin oldugu bi liste todolists= view dan bakabilirsin tanimina
todo_lists = [{name="Reminders", CreatedOn:"123123"}, {name="school_s", createdOn="123123"}]
 -->
