{% extends "base.html" %}

{%block title %}
Create A New Item
{% endblock title %}

{% block content %}
<h1>Create a new item</h1>
<!-- <p> {{todo_item_obj.all}} </p> -->
<form method="post">
    {% csrf_token %}
    <p> Name:<input type="text" name="task"> </p>
    <p> Due Date<input type="text" name="due_date"> </p>
    <p> Is Completed<input type="checkbox" name="is_completed"> </p>
    <select name="list">
        {% for option in todo_lists %}
        <option value="{{ option.id }}">{{option.name}} </option>
        {% endfor %}
    </select>
    {{ form.errors }}
    <p><button> Create </button></p>
</form>

{% endblock content %}
