{% extends "base.html" %}

{%block title %}
Update an Item
{% endblock title %}

{% block content %}
<h1>Update item</h1>
<form method="post">
    {% csrf_token %}
    <p>Name <input type="text" name="task" id="id"></p>
    <p>Due Date <input type="text" name="due_date"></p>
    <p>Is Completed <input type="checkbox" name="is_completed"></p>
    <select name="list">
        <option value="{{ todo_item_obj.list.id }}">{{todo_item_obj.list.name}}</option>
    </select>
    <p><button> Update </button></p>
</form>

{% endblock content %}
